 <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{#is active "all" }}active{{/is}}">
              <a class="nav-link" href="/findby/all">All
                {{#is active "all"}}<span class="sr-only">(current)</span>{{/is}}
              </a>
            </li>
            <li class="nav-item {{#is active "Denim shirt" }}active{{/is}}">
              <a class="nav-link" href="/findby/Denim shirt">Shirts</a>
              {{#is active "Denim shirt" }}<span class="sr-only">(current)</span>{{/is}}
            </li>
            <li class="nav-item {{#is active "Sport wear"}}active{{/is}}">
              <a class="nav-link" href="/findby/Sport wear">Sport wears</a>
              {{#is active  "Sport wear" }}<span class="sr-only">(current)</span>{{/is}}
            </li>
            <li class="nav-item{{#is active "Outwear" }}active{{/is}}">
              <a class="nav-link" href="/findby/Outwear">Outwears</a>
              {{#is active  "Outwear" }}<span class="sr-only">(current)</span>{{/is}}
            </li>

          </ul>
          <!-- Links -->

          <form action="/findby/" method="get">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" name="value" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->